.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.provider-pre-video-container {
  display: flex;
  >div {
    width: 50%;
  }
  .provider-pre-video-preview {
    position: relative;
    .provider-video-controls {
      width: 200px;
      left: calc(50% - 100px);
    }
    #roomContainer {
      width: 100%;
    }
  }
  .provider-pre-video-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div {
      margin: 10px 0;
    }
  }
}

.provider-video-container {
  display: flex;
  position: relative;
  .meeting-code {
    position: absolute;
    width: calc(100% - 200px);
    height: 30px;
    line-height: 30px;
    z-index: 9999;
    background-color: #fff;
  }
}

.encounter-item {
  margin: 10px;
  width: 180px;
  border-radius: 4px;
  border: 1px #867DE2 solid;
  >div:first-of-type {
    padding: 10px;
    font-size: 0.8rem;
  }
  >div:last-of-type {
    padding: 5px 10px;
    cursor: pointer;
    background-color: #867DE2;
    color: #fff;
    font-size: 0.8rem;
    &:hover {
      background-color: #5048a4;
      transition: background-color 0.4s;
    }
  }
}

.telehealth-right-container {
  background-color: #ddd;
}

.telehealth-right-collapsed {
  background-color: #fff;
  border-radius: 40px;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.new-patients {
  background-color: #5048a4;
  color: #fff;
  font-weight: 600;
}

.telehealth-right-parent {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  min-width: 200px;
  width: 200px;
  transition: width 0.4s;
}

.telehealth-right-patient {
  padding: 30px 10px;
  div {
    margin-bottom: 10px;
  }
  input {
    width: calc(100% - 30px);
    height: 30px;
    padding: 4px 10px;
    text-align: center;
  }
  .primary-btn {
    width: 100%;
  }
}

.active-patient-title {
  padding: 10px;
  font-weight: 600;
  background-color: #867DE2;
  color: #fff;
  span {
    cursor: pointer;
  }
  img {
    height: 15px;
    width: 15px;
    margin-left: 15px;
    filter: invert(1);
  }
}

.provider-video-controls {
  position: absolute;
  width: 400px;
  height: 80px;
  background-color: rgba(30,30,30,0.6);
  border-radius: 40px;
  z-index: 99;
  bottom: 20px;
  left: calc(50vw - 300px);
  text-align: center;
  line-height: 80px;
  opacity: 0.4;
  i {
    background-color: rgba(250,250,250,0.8);
    font-size: 1.6rem;
    padding: 10px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 25px;
    margin: 0 5px;
    cursor: pointer;
    span {
      display: none;
    }
  }
  .fa-video-slash, .fa-microphone-slash {
    background-color: #D64546;
  }
  .fa-phone-slash {
    width: 80px;
    color: #fff;
    border-color: #D64546;
    background-color: #D64546;
    margin-left: 40px;
  }
  &:hover {
    opacity: 1;
    transition: opacity 0.6s;
  }
  transition:  opacity 0.6s ease;
}

/* Assuming the name of the PreviewPublisher's container is previewContainer */
#previewContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  border-color: black;
  border-radius: 5px;
  border-style: dashed;
  width: 640px;
  height: 480px;
  padding: 20px;
}

/* Assuming the name of the Room's container is roomContainer */
#roomContainer {
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
  position: relative;
}
#roomContainer > .OT_publisher {
  top: 25px;
  right: 25px;
  position: absolute;
  border-radius: 10px;
}
#roomContainer > .OT_screenshare {
  top: 25px;
  left: 25px;
  position: absolute;
  border-radius: 10px;
}

.publisher-audio-button, .OT_audio-level-meter__audio-only-img {
  display: none;
}
.OT_audio-level-meter__value {
  background-image: radial-gradient(circle, #867DE2 0%, rgba(151, 206, 0, 0) 100%) !important;
}
.OT_video-poster {
  background-image: none !important;
  background-color: #867DE2;
  color: #ffffff !important;
  height: 160px !important;
  width: 160px !important;
  border-radius: 80px !important;
  position: relative !important;
  top: calc(50% - 80px) !important;
  left: calc(50% - 80px) !important;
  font-weight: 600 !important;
  text-align: center !important;
  line-height: 160px !important;
  font-size: 48px !important;
}

/* HISTORY TABLE */

.history-table {
  min-width: 800px;
  overflow-x: scroll;
}

.history-table-header {
  display: flex;
  background: #867DE2;
  color: #f5f5f5;
  border-radius: 4px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  margin-bottom: 4px;
  height: 32px;
  justify-content: center;
  align-items: center;
  width: 100%;
  div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px #DDDDFF solid;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-size: 14px;
    padding: 0 10px;
  }
}

.history-table-body {
  display: flex;
  border: 1px #867DE2 solid;
  color: #000;
  border-radius: 4px;
  height: 22px;
  font-family: 'Barlow', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2px;
  padding: 5px 0;
  min-width: 800px;
  >div {
    display: flex;
    justify-content: flex-start;
    padding: 0 8px;
    align-items: center;
    border-right: 1px #867DE2 solid;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.history-table-header div:first-of-type, .history-table-body div:first-of-type {
  width: 20%;
  text-align: left;
}
.history-table-header div:nth-of-type(2), .history-table-body div:nth-of-type(2) {
  width: 20%;
}
.history-table-header div:nth-of-type(3), .history-table-body div:nth-of-type(3) {
  width: 20%;
}
.history-table-header div:nth-of-type(4), .history-table-body div:nth-of-type(4) {
  width: 10%;
}
.history-table-header div:nth-of-type(5), .history-table-body div:nth-of-type(5) {
  width: 10%;
}
.history-table-header div:nth-of-type(6), .history-table-body div:nth-of-type(6) {
  width: 20%;
}

.min-history-table-header {
  @extend .history-table-header;
}

.min-history-table-body {
  @extend .history-table-body;
}

.min-history-table-header div:first-of-type, .min-history-table-body div:first-of-type {
  width: 20%;
  text-align: left;
}
.min-history-table-header div:nth-of-type(2), .min-history-table-body div:nth-of-type(2) {
  width: 30%;
}
.min-history-table-header div:nth-of-type(3), .min-history-table-body div:nth-of-type(3) {
  width: 30%;
}
.min-history-table-header div:nth-of-type(4), .min-history-table-body div:nth-of-type(4) {
  width: 20%;
}

.search-row {
  margin-bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  input {
    padding: 0px 10px;
    height: 30px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px rgba(180, 180, 180, 0.8) inset;
    border-radius: 4px;
    min-width: 150px;
  }
  button {
    background: #867DE2;
    color: #fff;
    height: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    min-width: 100px;
    border-radius: 4px;
  }
}

.table-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #000;
  font-weight: 600;
  >div:first-of-type {
    display: flex;
  }
  .nav-button-rounded {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(81,107,152,0.2);
    line-height: 36px;
    background-color: #867DE2;
    text-align: center;
    border: 2px #867DE2 solid;
    margin: 10px 20px;
    outline: none;
    cursor: pointer;
    .fa-caret-left, .fa-caret-right {
      color: #f5f5f5;
    }
  }
  .nav-button-rounded:last-of-type {
    margin-right: 0;
  }
  .nav-button-rounded:hover {
    box-shadow: 0 4px 8px rgba(81,107,152,0.6);
    transform: background-color 0.2s;
  }
  .nav-button-rounded:disabled {
    opacity: 0.4;
    box-shadow: none;
    cursor: not-allowed;
    .fas {
      color: #d5d5d5;
    }
  }
  .fa-spin {
    line-height: 60px;
  }
  span {
    line-height: 60px;
  }
}

// APPOINTMENTS

.dashboard-schedule-container {
  margin: 20px;
  margin-left: 0;
  height: calc(100vh - 40px);
  background-color: #ffffff;
  border-radius: 8px;
  >div:first-of-type {
    padding: 20px;
    text-align: left;
    font-weight: 600;
  }
  .upcoming-schedule-container {
    margin: 0 10px;
  }
  .upcoming-schedule-item {
    width: 100%;
    background-color:  #E7E5F9;
    border: 2px #867DE2 solid;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    >div {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      i {
        margin-right: 10px;
      }
    }
  }
}

.patient-table-header {
  @extend .history-table-header;
  width: 100%;
}

.patient-table-body {
  @extend .history-table-body;
  width: 100%;
}

.patient-table-header div:first-of-type, .patient-table-body div:first-of-type {
  width: 30%;
  text-align: left;
}
.patient-table-header div:nth-of-type(2), .patient-table-body div:nth-of-type(2) {
  width: 20%;
}
.patient-table-header div:nth-of-type(3), .patient-table-body div:nth-of-type(3) {
  width: 30%;
}
.patient-table-header div:nth-of-type(4), .patient-table-body div:nth-of-type(4) {
  width: 20%;
}

.primary-btn {
  width: 200px;
  height: 40px;
  border-radius: 4px;
  background-color: #867DE2;
  color: #ffffff;
  font-size: 1rem;
  line-height: 40px;
  font-weight: 800;
  cursor: pointer;
}

.patient-pre-video-options {
  .patient-intake-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    padding: 30px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: hsla(0,0%,100%,.55);
    border: 1px solid hsla(0,0%,100%,.18);
    box-shadow: 0 8px 32px 0 rgb(60 60 60 / 5%);
    h2 {
      margin-bottom: 40px;
    }
    >div {
      margin-bottom: 20px;
      width: 100%;
      div {
        display: inline-block;
        width: 100px;
        text-align: left;
      }
      input {
        padding: 8px 10px;
        border-radius: 4px;
        font-size: 1.2rem;
        width: calc(100% - 160px);
        border:0;
        outline:0;
      }
    }
    >div:nth-last-of-type(2) {
      align-self: center;
      div {
        text-align: center;
      }
    }
  }
  .patient-data-check-container {
    margin: 40px;
    padding: 30px;
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: hsla(0,0%,100%,.55);
    border: 1px solid hsla(0,0%,100%,.18);
    box-shadow: 0 8px 32px 0 rgb(60 60 60 / 5%);
    position: relative;
    span {
      position: absolute;
      left: 20px;
      top: 20px;
      cursor: pointer;
    }
    >div {
      display: flex;
      div {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .primary-btn {
          margin-top: 40px;
        }
      }
    }
  }
}

.rating-video-container {
  margin: 40px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background: hsla(0,0%,100%,.55);
  border: 1px solid hsla(0,0%,100%,.18);
  box-shadow: 0 8px 32px 0 rgb(60 60 60 / 5%);
  .stars-container {
    margin-bottom: 20px;
    i {
      font-size: 2rem;
      margin: 0 10px;
      cursor: pointer;
    }
    .fas {
      color: gold;
    }
  }
}